<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebRTCTutorial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08B301E925E60B3200A4BA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B301FF25E60B3400A4BA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B3020A25E60B3400A4BA26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
